# ==============================
# macOS
# ==============================
.DS_Store
._*
.Spotlight-V100
.Trashes


# ==============================
# STM32CubeIDE build output
# ==============================
Debug/
Release/

*.o
*.d
*.su
*.cyclo
*.elf
*.bin
*.hex
*.map
*.list


# ==============================
# Eclipse / STM32CubeIDE workspace
# ==============================
.metadata/


# ==============================
# Editor temporary files
# ==============================
*.swp
*.swo
*~